

/*@media screen and (max-width: 50px) {

    * {
        box-sizing: border-box;
    }

    .section1{
        display: none;
        width: 100%;
    }
}*/
/*
@media only screen and (max-width: 1600px) {
    body {
       background-image: url(images/heroimg.png);
    }
}*/